
/*Footer*/
footer#main_footer{
	width: 100%;
	margin-top: auto;
	background: #edf4f7;
}

/*List <ul> inside footer*/
#main_footer ul{
	padding: 0;	
}

/*element LIST <li> inside the footer*/
#main_footer ul li{
	padding: 5px auto;
	margin-top: 7px;

}

/*afect all text of widgets */
.sz-widget {
	font-size: 13px;
}

/* Title widget on footer */
.sz-widget h4{
	font-size: 15px;
	font-weight: 600;
}
.sz-widget h3{
	font-size: 15px;
	text-align: center;
}
.sz-widget p{
	font-size: 13px;
	
}
/*Linea debajo de widget title*/
.sz-widget-heading:after{
	content:"";
	display: block;
	width: 100%;
	height: 1px;
	background: #94a1ad7a;
	margin-top: 10px;
}

#cabecera_img_author img{
	border-radius: 50% !important;
}

footer .footer-copyright p{
	font-size: 11px;
	font-weight: 600;
	text-align: center;
	margin: auto 0;
}